---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PostDate from "@components/Date";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, author, description, pubDatetime } = post.data;

const { Content } = await post.render();
---

<Layout title={title} author={author} description={description}>
  <Header />
  <div class="mx-auto flex w-full max-w-5xl justify-start px-2">
    <button
      class="focus-outline mt-8 mb-2 ml-2 flex items-center hover:text-main-base-light"
      onclick="history.back()"
    >
      <div class="pr-2 text-xl">‹</div>
      <div>Go back</div>
    </button>
  </div>
</Layout>
<main id="main-content">
  <h1 class="post-title">{title}</h1>
  <PostDate datetime={pubDatetime} className="my-2" />
  <article id="article" role="article" class="prose mx-auto mt-8 max-w-5xl">
    <Content />
  </article>
</main>
<Footer />

<style>
  main {
    @apply mx-auto w-full max-w-5xl px-4 pb-12;
  }
  .post-title {
    @apply mt-6 cursor-pointer text-4xl font-semibold text-main-accent-light hover:text-main-accent-light;
  }
</style>
